*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

/* Navbar */
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.navbar ul li{
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;
}
.navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px;
}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    height: 840px;
    justify-content: center;
    align-items: center;
    color: white;
}
#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url('Images/Me2.png') no-repeat center center/cover;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: .8;
}
.main{
    display: flex;
    flex-direction: column;
    /*border: 1px solid white;*/
    align-items: center;
    position: absolute;
    top: 30%;
    right: 5%;
}
.headings{
    font-family: century;
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px;
}
/* About Section */
#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
}
#pic{
    display: flex;
}
#pic img{
    width: 575px;
    height: 400px;
}
#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
}
#intro h2{
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Education */
#education .title{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.education .title::after{
    content: " What and where I studied";
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
}
.education .carousel .owl-carousel .box{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    border: 1px solid black;
    margin: 102px;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(to top, rgb(255,45,45) 50%, white 50%);
    background-size: 100% 200%;
    transition: all .8s;
}
.education .carousel .card{
    background: gray;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
}
.education .carousel .card:hover{
    background: crimson;
}
#education .carousel .card .box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
}
.education .carousel .card:hover .box{
    transform: scale(1.05);
}
.education .carousel .card .text{
    color: white;
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.education .carousel .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid crimson;
    transition: all 0.3s ease;
}


/* Skills */
#skills .title{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: black;
}
.skills .title::after{
    color: black;
    content: "What i know";
    font-size: 1.5rem;
}
h3{
    margin: 5px;
    color: black;
}
.skills{
    width: 500px;
    margin: 60px auto;
    color: #fff;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.skills li{
    margin: 20px 0;
    padding: 10px;
}
.bar{
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.bar:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.12), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.bar span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg,rgba(236, 0, 140, 1)0%, rgba(252, 103, 103, 1)100%);
}
.Html{
    width: 70%;
    animation: Html 3s;
}
.Css{
    width: 60%;
    animation: Css 3s;
}
.Js{
    width: 50%;
    animation: Js 3s;
}
.Java{
    width: 70%;
    animation: Java 3s;
}
@keyframes Html{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}
@keyframes Css{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}
@keyframes Js{
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
}
@keyframes Java{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}

/* Contact Section */
.contact .title{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
}
.contact, .teams{
    color: white;
    background: black;
}
.contact .title::before,
.contact .title::before{
    background: #fff;
}
.contact .title::after{
    color: black;
    content: "Get in touch";
    font-size: 1.5rem;
}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact-content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: crimson;
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color:crimson;
}